.dis-top-navi {padding: 0; width: 100%; z-index: 10; top: 0; position: relative; background-color: #14589c; color: #eee;}
.dis-main-navi {padding: 0; width: 100%; z-index: 9; top: 40px; position: relative;}
.dis-navi-content {font-weight: bold; font-size: 14px; line-height: 22px;
                 margin: 0 auto; width: 980px; position: relative; text-align: left;}

.dis-top-navi a {color: #eee; font-weight: bold; font-size: 14px; line-height: 22px;}
.dis-top-navi a:hover {color: #fff; text-decoration: none;}
.dis-top-navi .dis-icon-wrap {vertical-align: middle;}
.dis-top-navi .dis-icon, .dis-top-navi a:hover .dis-icon {background-image: url('images/ui-icons_ffffff_256x240.png');}

.dis-navi-item {padding: 4px 10px; font-weight: bold; position: relative; vertical-align: middle; display: inline-block;}
.dis-top-navi .dis-navi-item:hover {background-color: #1f4974;}

.dis-navi-logo  {width: 220px; vertical-align: middle;}
.dis-navi-list  {width: 400px; vertical-align: middle;}

.dis-menu-list {position: absolute; display: block; right: 0; top: -1px; min-width: 120px; padding: 0;}
.dis-menu-list .dis-icon {margin-right: 10px;}
.dis-menu-list .dis-border-line {display: none;}
.dis-menu-list .dis-navi-item {display: none; text-align: left; padding-left: 15px; background-color: #14589c;}

/*.dis-top-navi {background: url("images/back.png") repeat;}*/
/*.dis-top-navi .dis-navi-item {background: url("images/back.png") repeat;}*/
/*.dis-top-navi .dis-navi-item:hover {background: url("images/top.png") repeat;}*/

.dis-menu-list:hover .dis-border-line {display: block;}
.dis-menu-list:hover .dis-navi-item {display: block;}

.dis-manage-account {width: 220px; text-align: right;}
.dis-manage-account .dis-user-name {display: block; text-align: right;}
.dis-manage-account .dis-user-name .username {white-space: nowrap; overflow: hidden; display: inline-block; vertical-align: middle; padding-top: 3px;}
.dis-manage-account .dis-user-name .dis-icon {margin-right: 0;}
.dis-manage-account .dis-user-name .dis-avatar-img {margin-right: 10px;}

/*.dis-navi-logo {width: 170px; color: #fff;}*/
/*.dis-navi-logo a {color: #fff;}*/
/*#add-mail {padding: 3px 10px; vertical-align: middle; position: relative;}*/

.dis-dropdown-menu, .dis-dropdown-list {display: none; color: #555; position: absolute; top: 35px; padding: 5px; z-index: 100; background-color: #fff; border: 1px solid #858585;}
.dis-dropdown-menu {white-space: nowrap; left: -80px;}
.dis-dropdown-menu a {color: #105cb6; padding: 5px 10px; display: inline-block;}
.dis-dropdown-menu .dis-triangle {left: 95px;}
.dis-navi-item:hover .dis-dropdown-menu {display: block;}

.dis-dropdown-list {min-width: 80px; left: -10px;}
.dis-dropdown-list a {color: #105cb6;}
.dis-dropdown-list .dis-triangle {left: 30px;}
.dis-dropdown-list .dis-gray-button {color: #555;}
.dis-dropdown-list .dis-gray-button:hover {color: #222;}

.dis-manage-notice:hover .dis-notice-list {display: block; min-width: 120px;}
.dis-manage-notice .dis-notice-item {width: 300px; position: relative; margin: 5px 10px;}

.dis-notice-prompt {border: 1px solid #e1e1e1; padding: 10px 20px; margin-bottom: 10px; position: relative; display: none;}
.dis-notice-prompt .dis-notice-content {margin: 5px 0;}
.dis-notice-item {padding: 5px 0; position: relative;}
.dis-notice-item .dis-close {display: block; position: relative; width: 16px; height: 16px; float: right;}
.dis-notice-item .dis-close .dis-icon {display: none; background-image: url("images/ui-icons_454545_256x240.png");}
.dis-notice-item:hover .dis-close .dis-icon {display: block;}

.dis-notice-tip {position: absolute; top: -2px; left: 30px; z-index: 100;}
.dis-notice-tip .dis-icon-mail {display: block; width: 16px; height: 16px; background-image: url("images/mail.png"); background-repeat: no-repeat;}
.dis-notice-count {text-decoration: none; color: white; padding: 0 5px; font-size: 11px; font-weight: bold; line-height: 13px; background-color: #C3412F;}

.dis-notice-feed {padding: 3px; text-align: center; border: 1px solid #F9F2A7; background-color: #FEFFE5;}
.dis-notice-wrap {z-index: 5; position: fixed; display: block; top: 38px; left: 0; width: 100%; background-color: #e1f0f7;}
.dis-fixed-notices {margin: 0 auto; width: 940px; position: relative;}
.dis-fixed-notices .dis-close {float: right; position: relative;}
.dis-fixed-notices .dis-notice-item {position: relative; width: 920px; padding: 5px 0;}

/*.dis-navi {padding: 0; width: 100%; z-index: 0; top: 0; position: absolute;}*/
/*.dis-navi {padding: 0; width: 100%; z-index: 0; top: 0; position: absolute;}*/
/*.dis-top-navi {background-color: #545256;}*/
/*.dis-main-navi {padding: 10px 0;}*/

/*.dis-navi {padding: 0; width: 100%; z-index: 0; top: 0; position: absolute;}*/
/*.dis-main-navi .dis-navi-content {background-color: gray;}*/
