/*
    Document   : so.core
    Created on : 2012-1-9, 22:00:59
    Author     : jiyu
    Description:
        Purpose of the stylesheet follows.
*/
body, div, form, img, ul, ol, li, dl, dt, dd {margin: 0; padding: 0; border: 0;}
body, table, td, form, img, ul, textarea, span {position: relative;}

body {font: 12px/22px 'Helvetica Neue',Helvetica,Arial,Sans-serif; color: #444; z-index: 0;}
li {display: block; list-style: none;}
a, .pm-a, .pm-am {text-decoration: none; font-size: 14px; font-family: "宋体"; line-height: 18px;}
a, .pm-a, .pm-am {cursor: pointer; color: #105cb6;}
a:hover, .pm-a:hover, .pm-am-hover {color: #444; text-decoration: underline;}

.pm-wrap {position: relative; padding-top: 45px; margin: 0 auto 20px;}
.pm-page {position: relative; min-height: 600px; font-size: 14px;}

/* 两栏结构 */
.pm-wrap {width: 940px;}
.pm-page-ctrl {padding: 10px 0;}
.pm-page-left {width: 640px; padding-right: 30px; vertical-align: top; position: relative;}
.pm-page-right {width: 270px; min-height: 600px; vertical-align: top; position: relative;}

/* ui */
.pm-inline-block {position: relative; vertical-align: top; display: inline-block; zoom: 1;}
.pm-corner-all {-moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;}
.pm-corner-top {-moz-border-radius-topleft: 6px; -webkit-border-top-left-radius: 6px; border-top-left-radius: 6px;
                -moz-border-radius-topright: 6px; -webkit-border-top-right-radius: 6px; border-top-right-radius: 6px;}
.pm-corner-bottom {-moz-border-radius-bottomleft: 6px; -webkit-border-bottom-left-radius: 6px; border-bottom-left-radius: 6px;
                   -moz-border-radius-bottomright: 6px; -webkit-border-bottom-right-radius: 6px; border-bottom-right-radius: 6px;}

.pm-gray-button  {position: relative; cursor: pointer; font-size: 14px; font-weight: bold; /*height: 27px; line-height: 27px; */
                  text-align: center;
                  border: 1px solid #cacaca; border: 1px solid rgba(125, 125, 125, 0.2);
                  background-color: #f1f1f1;
                  background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
                  background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
                  background-image: -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
                  background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
                  background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
                  outline: 0; text-shadow: 0 1px rgba(0, 0, 0, 0.2); text-transform: uppercase;
                  -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; color: #555;}

.pm-gray-button:hover  {background-color: #dedede;
                        background-image: -webkit-linear-gradient(top,#f1f1f1,#dedede);
                        background-image: -moz-linear-gradient(top,#f1f1f1,#dedede);
                        background-image: -ms-linear-gradient(top,#f1f1f1,#dedede);
                        background-image: -o-linear-gradient(top,#f1f1f1,#dedede);
                        background-image: linear-gradient(top,#f1f1f1,#dedede);
                        text-decoration: none; border: 1px solid #cacaca; color: #222;}

/*height: 27px; line-height: 27px; */
.pm-light-button {position: relative; cursor: pointer; font-size: 14px; font-weight: bold; text-align: center;
                  outline: 0; text-shadow: 0 1px rgba(0, 0, 0, 0.2); text-transform: uppercase;
                  -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;
background-color: #4D90FE;
background-image: -webkit-gradient(linear,left top,left bottom,from(#4D90FE),to(#4787ED));
background-image: -webkit-linear-gradient(top,#4D90FE,#4787ED);
background-image: -moz-linear-gradient(top,#4D90FE,#4787ED);
background-image: -ms-linear-gradient(top,#4D90FE,#4787ED);
background-image: -o-linear-gradient(top,#4D90FE,#4787ED);
background-image: linear-gradient(top,#4D90FE,#4787ED);
/*filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4d90fe',EndColorStr='#4787ed');*/
/*border: 1px solid #3079ED;border: 1px solid transparent;*/
border: 1px solid #4D90FE; color: #eee !important;}

.pm-light-button:hover {background-color: #2f6ccc;
background-image: -webkit-gradient(linear,left top,left bottom,from(#4D90FE),to(#2f6ccc));
background-image: -webkit-linear-gradient(top,#4D90FE,#2f6ccc);
background-image: -moz-linear-gradient(top,#4D90FE,#2f6ccc);
background-image: -ms-linear-gradient(top,#4D90FE,#2f6ccc);
background-image: -o-linear-gradient(top,#4D90FE,#2f6ccc);
background-image: linear-gradient(top,#4D90FE,#2f6ccc);
/*filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4d90fe',EndColorStr='#357AE8');*/
/*border: 1px solid #2F5BB7;*/
border: 1px solid #357AE8; text-decoration: none; color: #fff !important;}

.pm-light-button, .pm-gray-button {display: inline-block; padding: 0 10px; font-size: 14px; line-height: 22px;}

.pm-opacity-65 {-moz-opacity:0.65; -khtml-opacity: 0.65; opacity: 0.65; filter: alpha(opacity=65);}
.pm-opacity-40 {-moz-opacity:0.4; -khtml-opacity: 0.4; opacity: 0.4; filter: alpha(opacity=40);}

.pm-triangle {position: absolute; z-index: 100; width: 0px; height: 0px; border: 8px dashed transparent;}
.pm-triangle-left  {left: -16px; top: 20px; border-right: 8px solid #fff;}
.pm-triangle-right {right: -16px; top: 20px; border-left: 8px solid #fff;}
.pm-triangle-top    {left: 20px; top: -16px; border-bottom: 8px solid #fff;}
.pm-triangle-bottom {left: 20px; bottom: -16px; border-top: 8px solid #fff;}

.pm-icon {background-image: url("images/ui-icons_454545_256x240.png"); width: 16px; height: 16px;
          display: block; position: relative; text-indent: -99999px; padding: 0; margin: 0;
         white-space: nowrap; overflow: hidden; cursor: pointer; vertical-align: bottom;}
.pm-icon:hover, .pm-gray-button:hover .pm-icon {background-image: url("images/ui-icons_222222_256x240.png");}
a .pm-icon {background-image: url("images/ui-icons_2e83ff_256x240.png");}
.pm-red .pm-icon, .pm-veri .pm-icon {background-image: url("images/ui-icons_eb4f01_256x240.png"); cursor: default;}
.pm-icon-wrap {position: relative; display: inline-block;}
.pm-light-button .pm-icon-wrap, .pm-gray-button .pm-icon-wrap {vertical-align: middle; top: -2px;}

.pm-border {border: 1px solid #acacac; padding: 0; background-color: white;}
.pm-no-border {border: 0; outline: 0; background-color: transparent;}
.pm-close {padding: 1px; top: 2px; right: 4px; height: 16px; width: 16px; display: block; position: absolute; z-index: 1;}
.pm-close:hover {padding: 0; border: 1px solid #555; background-color: #fff;}

.pm-ctrl {text-align: right; padding: 5px 0;}
.pm-ctrl input {display: none;}
.pm-ctrl #cancel, .pm-ctrl #join {margin-right: 5px;}

.pm-light-button .pm-icon {background-image: url("images/ui-icons_ffffff_256x240.png");}
.pm-light-button:hover .pm-icon {background-image: url("images/ui-icons_454545_256x240.png");}
.pm-box-shadow { box-shadow: 4px 4px #e8e1e1; -moz-box-shadow: 4px 4px #e1e1e1; -webkit-box-shadow: 4px 4px #e1e1e1;}
.pm-layout-table {width: 100%; border-spacing: 0; border-collapse: collapse; border: 0;}

.pm-dialog {font-size: 14px; line-height: 22px; background-color: #fff; position: absolute; border: 1px solid #ccc;}
.pm-dialog #close {top: 8px; right: 10px;}
.pm-dialog .pm-dialog-head {padding: 5px 20px; border-bottom: 1px solid #ccc; font-weight: bold; font-size: 14px; cursor: move; background-color: #f1f1f1;}
.pm-dialog .pm-dialog-foot {padding: 5px 20px; border-top:    1px solid #ccc;}
.pm-dialog .pm-dialog-content {padding: 10px 20px; min-width: 250px;}
.pm-dialog .pm-dialog-content .pm-err {padding: 0; border: 0;}

.pm-logo {font-size: 16px; vertical-align: middle;}
.pm-logo .pm-logo-img {height: 32px;}
.pm-logo .pm-logo-img img {height: 32px; width: 32px;}
.pm-logo .name {line-height: 22px; font-size: 20px;}
.pm-logo .status {vertical-align: top; font-size: 12px; line-height: 14px; padding-left: 3px;}
.pm-logo .pm-logo-text {padding: 2px 0; height: 22px; font-weight: bold; position: relative;}

.pm-foot .pm-logo {font-size: 12px; line-height: 16px;}
.pm-foot .pm-logo .name {color: #105cb6; font-size: 14px; line-height: 16px; font-weight: normal;}
.pm-foot .pm-logo .pm-logo-img img {height: 14px;}
